/*  */

body {
  margin: 0;
  padding: 0;
  font: 1.1em "Fira Sans", sans-serif;
  background: hsl(235, 24%, 9%);
}

h1 {
  margin: 0;
  padding: 20px 40px;
  color: hsl(259, 27%, 66%);
  background: hsl(235, 24%, 8%);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2),
    0 6px 12px 0 rgba(0, 0, 0, 0.25);
  font-weight: 400;
}

main {
  margin: 50px 10%;
  display: grid;
  grid-gap: 40px;
}

[data-hide] {
  display: none !important;
}

table {
  color: hsl(259, 70%, 90%);
  border-collapse: collapse;
  border: 1px solid hsl(259, 27%, 15%);
}

th {
  color: hsl(0, 0%, 94%);
  background: hsl(259, 27%, 13%);
  text-align: left;
  padding: 10px;
  font-weight: 400;
}

td {
  padding: 10px;
  border: 1px solid hsl(259, 27%, 15%);
}

td:nth-child(1),
td:nth-child(5),
td:nth-child(6) {
  text-align: center;
}

td:nth-child(2) {
  padding-left: 30px;
}

tr:nth-child(odd) {
  background: hsl(259, 27%, 15%);
}

tr:nth-child(odd) td:nth-child(5) {
  border-left: solid 3px hsl(259, 27%, 11%);
}

tr:nth-child(even) {
  background: hsl(258, 28%, 20%);
}

tr:nth-child(even) td:nth-child(5) {
  border-left: solid 3px hsl(259, 27%, 15%);
}


textarea {
  color: hsl(0, 0%, 94%);
  background: hsl(259, 27%, 15%);
  border: solid 1px hsl(235, 27%, 15%);
  border-radius: 5px;
  padding: 20px;
  line-height: 1.6;
}

button {
  color: hsl(0, 0%, 94%);
  background: hsl(259, 25%, 30%);
  border-radius: 5px;
  padding: 15px 0;
  border: none;
}

button:focus,
button:hover {
  background: hsl(249, 28%, 26%);
}


@media screen and (max-width: 760px) {
  main {
    margin: 0px;
  }

  td:nth-child(1),
  th:nth-child(1) {
    padding: 0;
    width: 50px;
  }
}

@media screen and (max-width: 900px) {
  td:nth-child(2) {
    padding-left: 10px;
  }

  td:nth-child(n + 5) {
    width: auto;
  }

  td:nth-child(n + 5),
  th:nth-child(n + 5) {
    display: none !important;
  }
}

.pulse {
  color: hsl(217, 89%, 66%);
  animation: pulse 200ms ease-in-out 2 alternate;
}

@keyframes pulse {
  from {
    transform: scale(1)
  }

  to {
    transform: scale(1.3)
  }
}



/*  tool-tip css adapted from:  https://codepen.io/davidicus/pen/yyxoXW */

/*== start of code for tooltips ==*/
[data-tip] {
  cursor: help;
  position: relative;
}

/*== common styles for both parts of tool tip ==*/
[data-tip]::after,
[data-tip]::before {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

[data-tip]:focus::after,
[data-tip]:focus::before,
[data-tip]:hover::after,
[data-tip]:hover::before {
  opacity: 1;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  z-index: 100;
}

/*== pointer tip ==*/
[data-tip]::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: hsl(0, 0%, 94%) transparent transparent transparent;
  bottom: 90%;
  content: "";
  margin-left: -0.5em;
  transition: all 0.65s cubic-bezier(.84, -0.18, .31, 1.26), opacity 0.65s 0.5s;
  -webkit-transform: scale(.6) translateY(-90%);
  transform: scale(.6) translateY(-90%);
}

[data-tip]:focus::before,
[data-tip]:hover::before {
  transition: all 0.65s cubic-bezier(.84, -0.18, .31, 1.26) 0.2s;
}

/*== speech bubble ==*/
[data-tip]::after {
  background: hsl(0, 0%, 94%);
  border-radius: 0.25em;
  bottom: 110%;
  color: hsl(260, 24%, 7%);
  content: attr(data-tip);
  text-align: center;
  line-height: 1.2;
  margin-left: -75px;
  padding: 0.7em;
  transition: all 0.65s cubic-bezier(.84, -0.18, .31, 1.26) 0.2s;
  -webkit-transform: scale(.6) translateY(50%);
  transform: scale(.6) translateY(50%);
  width: 130px;
}

[data-tip]:focus::after,
[data-tip]:hover::after {
  transition: all 0.65s cubic-bezier(.84, -0.18, .31, 1.26);
}

@media screen and (max-width: 760px) {
  [data-tip]::after {
    margin-left: -5em;
    width: 10em;
  }
}